# Ignore .git folder
.git*
.gitignore
.gitmodules

.circleci*
.devcontainer*
.vscode*
config*
docs*
tests*
hooks*

images/giphy*
images/xkcd*

mattermost-docker*

*.md
*.bu
LICENSE
Makefile
docker-compose.mattermost.yml
Vagrantfile

web/node_modules*
web/build*

scifgif.bleve*
scifgif.db